*.pyc
__pycache__/
*.sif
*.ninja_deps
*.ninja
*.ninja_deps
*.ninja_deps.d
*.ninja_deps.d.tmp
*.ninja_deps.d.tmp.d


*.tar*

msa/*


algorithms/alphafold3/alphafold3/*


algorithms/boltz2/boltz/*



algorithms/helixfold/PaddleHelix/*


algorithms/openfold3/openfold-3/*

examples/outputs/*/*/*
examples/outputs/**
algorithms/Protenix/Protenix/release_data/*

core

*.sif
*.pt

*.pkl
*.h5
*.hdf5
*.ckpt
*.log
*.out
*.err
*.tmp
*.cache
*.zip
*.tar.gz